[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name="qcanvas"
version = "0.0.5.4a"
authors= [ {name="QCanvas"} ]
description="A canvas client"
requires-python=">=3.11,<=3.12"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies=[
    "SQLAlchemy~=2.0.25",
    "httpx~=0.26.0",
    "PySide6~=6.6.1",
    "pydantic~=2.6.0",
    "requests~=2.31.0",
    "gql~=3.6.0b0",
    "tenacity~=8.2.3",
    "beautifulsoup4~=4.12.3",
    "qenerate-custom~=0.6.3",
    "aiosqlite-custom~=0.19.0",
    "qasync~=0.27.1",
    "beautifulsoup4~=4.12.3",
    "pyqtdarktheme~=2.1.0",
    "packaging~=23.2"
]

[tool.hatch.build.targets.sdist]
exclude=[
    ".idea",
    "canvas_introspection.json"
]
