[tool.poetry]
name = "qcanvas"
version = "0.1.0"
description = ""
authors = ["QCanvas <QCanvas@noreply.codeberg.org>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
qcanvas-api-clients = "^0.2.2"
qcanvas-backend = "^0.1.0"
asynctaskpool = "^0.2.1"
sqlalchemy = "^2.0.31"
qtpy = "^2.4.1"
aiosqlite = "^0.20.0"
pyqtdarktheme-fork = "^2.3.2"
qasync = "^0.27.1"
lightdb = "^2.0"
pyinstaller = "^6.9.0"
pyside6 = "^6.7.2"
#2024-07-18: Latest version causes error with pyinstaller
setuptools = "=70.3.0"
platformdirs = "^4.2.2"

#[tool.poetry.group.flatpak-exclude]
#optional = true
#
#[tool.poetry.group.flatpak-exclude.dependencies]
#pyside6 = "^6.7.2"

[tool.poetry.group.dev-tools]
optional = true

[tool.poetry.group.dev-tools.dependencies]
black = "^24.4.2"
block-timer = "^0.2.0"
isort = "^5.13.2"

#[tool.poetry.group.local-deps]
#optional = true
#
#[tool.poetry.group.local-deps.dependencies]
#qcanvas-api-clients = { path = "../QCanvas-API-Clients/", develop = false }
#qcanvas-backend = { path = "../QCanvas-Backend/", develop = false }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"